<footer class="page-footer font-small pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Redes Sociales</h5>
          <section class="social">
            <div class="links">
                <a href="https://www.facebook.com/ignacio.a.soto/" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/nacho.vai/?hl=es-la" target="_blank"> 
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-spotify"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-soundcloud"></i>
                </a>
            </div>
        </section>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
  
        </div>
      </div>
    </div>  
    <!-- Copyright -->
    <div class="footer-copyright text-center">© 2022 Copyright:
      <a href="https://nachovai.github.io/mi-portafolio/" target="_blank"> NVai - Desarrollador Web</a>
    </div>  
  </footer>