<nav class="nav bg-dark">
    <li class="nav-item">
        <%= link_to 'inicio', root_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
        <%= link_to 'Historia', home_history_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
        <%= link_to 'Fotos', home_history_path, class:"nav-link disabled"%>
    </li>
    <li class="nav-item">
        <%= link_to 'Contáctanos', contacts_new_path, class:"nav-link"%>
    </li>
</nav>