<section>
    <div class="card band shadow">
        <div class="card-body band-body">
            <h5 class="card-title">Unión Retro</h5><br>
            <br>
            <p>
                Union Retro es un grupo formado por 6 (5) integrantes dedicados a rescatar la musica de los años60 y 70 ; en ese entonces llamada ”nueva ola chilena”, versionandolas con un sonido mas rockero pero conservando la escencia de las canciones para que sean reconocidas facilmente por quienes las escuchan, usando los instrumentos caracteristicos para el estilo que queremos darles, como guitarra electrica, bajo y bateria, conservando la base melodica y ritmica de los temas pero tambien haciendo
                pequeños arreglos nuestros para darles un estilo mas propio.
            </p><br>
            <p>
                Nuestro grupo se formo en el año 2019 gracias a las inquietudes musicales de un grupo de amigos que hicieron eco de su amor por la musica y se unieron para dar vida a la banda, una particularidad del grupo es que sus integrantes abarcan una gama etarea bastante amplia que va desde los 29 hasta los 65 años, algo que tal vez no es muy comun en este tipo de agrupaciones, pero consideramos que integrar a personas jovenes que generacionalmente pertenecen a otros estilos le da mucha frescura a las interpretaciones y a nuestra imagen, ademas que cada uno de nosotros aporta con lo que le nace en cada tema dejando absoluta libertad para aquello,todos aportamos y disfrutamos con los resultados obtenidos.
            </p><br>
            <p>
                La banda esta compuesta por Miguel Sanchez ( 2da guitarra ), Manuel Reyes ( guitarra ritmica y director musical bajo electrico ), Ignacio Reyes ( guitarra lider ), Ricardo Leiva ( bajo electrico ), Pablo Vergara ( bateria ) y Ricardo Sandoval, con su nombre artistico “Ricky di Lanco” ( vocalista ). El grupo nacio gracias a la constante busqueda de nuevos rumbos musicales, ya que la mayoria de los integrantes provienen de una agrupacion anterior llamada Union Latina que se dedicaba a la musica
                folclorica latinoamericana, incluso al ir mas hacia atras en el tiempo este grupo empezo con la interpretacion de musica andina en la decada de los 80, sin sus integrantes mas jovenes obviamente ,y tras el paso de los años fuimos derivando en otros estilos siempre en esa constante busqueda para no encasillarnos en un unico estilo. En este largo caminar explorando nuevos sonidos nos fijamos en la riqueza musical que existio en las decadas de los 60 y 70, la cual conociamos solo
                superficialmente, un genero popular y aparentemente simple, lo cual esta muy lejos de la realidad, ahi encontramos la razon del porque estas canciones han perdurado en el tiempo, paradojalmente ese “ nuevo sonido “ lo encontramos en estas polvorientas canciones, que dificilmente pasaran de moda.
            </p><br>
            <p>
                Nuestro repertorio se basa principalmente en artistas chilenos de la epoca, la mayoria retirados o fallecidos, sin embargo algunos aun se encuentran en actividad . De los artistas chilenos podemos nombrar a Jose Alfredo “ pollo “ Fuentes, Buddy Richard, Luis dimas, tambien bandas chilenas como Los angeles Negros, Los Golpes, Los Ramblers, Hermanos Zabaleta entre otros. Ademas incorporamos canciones de artistas de otros paises pero muy conocidos a nivel latinoamericano como Leo Dan, Leonardo Favio y Los Iracundos, incluso un duo español llamado Duo Dinamico, tenemos muchas canciones y artistas que iremos incluyendo poco a poco, la gama es tan amplia y variada que se nos hace muy dificil ir eligiendo los temas, algunos quedan en el camino, pero tratamos de interpretar las canciones mas representativas de cada artista.
            </p><br>
            <p>
                Estas canciones van dirigidas especialmente a personas de mas de 40 años que conocieron de primera mano este movimiento, ya sea como adolescentes o jovenes en aquellos años y tambien los que lo conocieron escuchando la radio que en ese entonces sintonizaban sus padres o hermanos mayores y que de a poco fueron llenando su memoria musical, incluso esta musica la cantan personas mucho mas jovenes lo que reafirma la idea de que estos artistas han derribado barreras generacionales y la disfrutan abuelos junto a sus hijos y nietos.
            </p><br>
            <p>
                Por ultimo cabe señalar la importancia de mantener vigentes a estos artistas que han marcado de alguna forma nuestras vidas, la unica intencion que nos motiva es darles el lugar que se merecen y evitar que caigan en el olvido, esto lo hacemos con el mayor respeto y seriedad, sin fines de lucro, la mayor satisfaccion para nosotros es simplemente hacerlos pasar un grato momento al recordar aquella maravillosa epoca, si conseguimos aquello nos damos por pagados.... UNION RETRO
            </p>
        </div>
    </div>
</section>

<section id="banner">
    <div class="banner">
        <div class="somos">
            <h1>¿Quiénes somos?</h1>
            <span>Integrantes</span>
        </div>
    </div>
</section>


<section class="container p-gallery">
    <div class="presentation">
        <article class="card">
            <%=image_tag("nacho3.jpg", class: "card-img-top p-1")%>
            <div class="card-body">
                <h5 class="card-title">Ignacio Reyes</h5>
                <p class="card-text">Guitarra eléctrica</p>
            </div>
        </article>
        <article class="card">
            <%=image_tag("logoprueba.png", class: "card-img-top")%>
            <div class="card-body">
                <h5 class="card-title">Integrante</h5>
                <p class="card-text">instrumento</p>
            </div>
        </article>
        <article class="card">
            <%=image_tag("logoprueba.png", class: "card-img-top")%>
            <div class="card-body">
                <h5 class="card-title">Integrante</h5>
                <p class="card-text">instrumento</p>
            </div>
        </article>
        <article class="card">
            <%=image_tag("logoprueba.png", class: "card-img-top")%>
            <div class="card-body">
                <h5 class="card-title">Integrante</h5>
                <p class="card-text">instrumento</p>
            </div>
        </article>
    </div>
</section>