<header>
    <div class="showcase shadow">
        <div class="card">
            <%=link_to contacts_new_path, :class => "p-card" do%>
                <b><p>CONTÁCTENOS</p></b>
            <%end%>
        </div>
    </div>
</header>

<h1>Unión Retro</h1>
