@import "~bootstrap/scss/bootstrap";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ______________________________________________________________________________________________ */

body{
    background-color: #f0f8ff;
    background: url('../images/fondo.jpg');
    font-family: 'Orbitron', sans-serif;
    min-width: fit-content;
    
}

a{
    text-decoration: none;
}

.alert-danger{
    background-color: #ff9ea7 !important;
    color: aliceblue;
}

/* NAVBAR */

.navbar-collapse{
    flex-grow: 0 !important;
    text-align: right;
}


.navbar{
    background: url('../images/navbar10.jpg');
    /* background-size: 100% 100%; */
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    
}

.nav-item{
    text-decoration: none !important;
}

.container-fluid{
    padding-left: 100px;
    padding-right: 100px;
}

.nav-link{
    color: rgb(255, 255, 255);
    font-family: 'Orbitron', sans-serif;
    text-shadow: black;
}
.nav-link:hover{
    color: #ffd200 !important;
}

.navbar-brand{
    width: 110px;
    height: 70px;
    margin-left: 220px;
    margin-bottom: 5px;
}

.navbar-toggler {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}

/* SHOWCASE */

.showcase{
    width: 100%;
    height: 860px;
    background: url('../images/showcase.jpg')no-repeat center center/cover;
    background-position-y: 25px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}


/* CONTACT BUTTON */
.contact-button{
    opacity: 0.6;
    background-color: rgba(153, 143, 143, 0.438);
    border: solid;
    border-color: aliceblue;
    margin-bottom: 30px;
}
.contact-button a:hover{
    color: #ffd200;
}
.p-card{
    margin: 1rem;
    color: aliceblue;
    opacity: 1 !important;
    text-decoration: none !important;
}

/* LOGO INDEX */

.logo-i{
    background: url('../images/logoprueba.png')no-repeat center;
    background-size: contain;
    height: 400px;
    width: 100%;
    margin-top: 30px;
}

/* FOOTER */

footer{
    margin-top: 50px;
    background: url('../images/navbar3.jpg');
    background-size: 100% 90%;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}
.text-uppercase{
    color: #000;
}

footer a{
    color: #000;
}

footer a:hover{
    color: #ffd200;
}

.page-footer{
    background-color: #666;
}

.footer-copyright{
    background-color: #666;
    padding: 5px;
}


/* REDES SOCIALES */

/* SOCIAL MEDIA */

.social{
    margin: 30px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin: 0 30px;
}

.links a i{
    font-size: 2rem;
}



/* HYSTORY PAGE */

/* BAND HISTORY */

.band{
    width: 70%;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(0, 0, 0, 0.71);
    /*  */
    margin-inline-start: 15%;
    padding: 30px;
    margin-top: 165px;
    margin-bottom: 50px;
    border-radius: 10px;
    color: aliceblue;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.band-body{
    padding: 70px 120px 150px 120px;
}

.card-title{
    font-size: 60px;
}


/* HISTORY BANNER */

section[id="banner"]{
    margin: 40px 0px 40px 0px;
}
.banner{
    background: url('../images/banner.png'), rgba(255, 255, 255, 0.15);
    /* From https://css.glass */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 2px solid rgba(255, 255, 255, 1);
    border-left: none;
    border-right: none;
    height: 200px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    padding-top: 50px;
}

.somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: aliceblue;
}

.somos h1{
    font-size: 50px;
}


/* INTEGRANTS PRESENTATION */

.card-img-top{
    height: 370px;
    border-radius: 1rem 1rem 0 0;
}

.container article{
    color: aliceblue;
    font-family: 'Abel', sans-serif;
}
.presentation{
    background: rgba(0, 0, 0, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.71);
}
article h5{
    font-size: 40px !important;
}
article p{
    font-size: 20px !important;
}

.zoom{
    overflow: hidden;
}

.zoom img{
    transition: all 1.5s ease;
}

.zoom:hover img{
    transform: scale(1.1);
}

/* CONTACT PAGE */

.contact{
    width: 70%;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(0, 0, 0, 0.71);
    /*  */
    margin-inline-start: 15%;
    padding: 30px;
    margin-top: 165px;
    margin-bottom: 50px;
    border-radius: 10px;
    color: aliceblue;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}

.contact-body{
    padding: 50px 150px 50px 150px;
}
.contact-body h3{
    font-size: 22px;
}
.btn{
    width: 100px !important;
}


/* RESPONSIVE */
@media screen and (max-width: 1100px){
    .container-fluid{
        padding-left: 0px;
        padding-right: 25px;
    }

    .navbar{
        background: url('../images/navbar10.jpg')no-repeat;
        background-size: 170%;
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        image-rendering: -webkit-optimize-contrast;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 2rem;
    }

    .navbar-brand{
        margin-left: 30px;
    }

    .showcase{
        height: 550px;
        background: url('../images/showcase2.jpg')no-repeat center center/cover;
        background-position-y: 50px;
    }    

    footer.container-fluid{
        padding-right: 0px !important;
    }

    .band-body{
        padding: 70px 60px 150px 60px;
    }

    .contact{
        width: 84%;
        margin-inline-start: 8%;
    }
    .contact-body{
        padding: 50px;
    }
    
}

@media screen and (max-width: 990px){
    .card-img-top{
        height: 550px;
    }
}
@media screen and (max-width: 500px){
    .somos h1{
        font-size: 30px;
    }

    .band-body{
        padding: 70px 5px 150px 5px;
    }
    .contact{
        width: 100%;
        margin-inline-start: 0%;
    }
    .contact-body{
        padding: 50px 0 50px 0;
    }
}
@media screen and (max-width: 400px){

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 2rem;
    }
    .showcase{
        background: url('../images/showcase2.jpg')no-repeat center center/cover;
        background-position-y: 65px;
    }

    .logo-i{
        margin-top: -75px;
    }

    .band{
        width: 100%;
        margin-inline-start: 0%;
    }
}